input {

    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border:2px solid black;
}
#subject {
    height: 100px;
    width: 100%;

}
#submit {
    border: none;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(138, 145, 241);
    border-radius: 5px 5px 5px 5px;
    width: 100px;
    height: 50px;
}